<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
  </configSections>
  <connectionStrings>

    <!--===================================================-->
    <!-- ::::::::::::: Web Job Storage Acc :::::::::::::::: -->
    <!--===================================================-->

    <!-- Provide a valid storage account(s) which will be used for Web job dashboard and storing logs. Can be same or different.-->
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard"
         connectionString="DefaultEndpointsProtocol=https;AccountName=XXXSXXHXXA;AccountKey=XXX56jksndfXXXXXX56XXjnXXXXXXXXXXXXXXXXXXXXXXXXX" />
    <add name="AzureWebJobsStorage"
         connectionString="DefaultEndpointsProtocol=https;AccountName=XXXSXXHXXA;AccountKey=XXX56jksndfXXXXXX56XXjnXXXXXXXXXXXXXXXXXXXXXXXXX" />

    <!--===================================================-->
    <!-- :::::::::::: Database conn string ::::::::::::::: -->
    <!--===================================================-->
    <!-- Provide database connection string here -->
    <add name="AzureAnalyticsDbModel"
         connectionString="data source=temp.database.windows.net;initial catalog=tempsqldatabase;persist security info=True;user id={user_id};password={user_password};MultipleActiveResultSets=True;App=EntityFramework"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>

    <!--===================================================-->
    <!-- :::::::::::::::: Common Settings :::::::::::::::: -->
    <!--===================================================-->

    <!-- Provide the Url for the Web API here -->
    <add key="WebApiUrl" value="https://mywebapi.azurewebsites.net/" />

    <!-- Provide valid Azure AD Domain, Application Client ID and Secret for the Web API -->
    <add key="WebApiAADClientId" value="XXXX-fXXXX-XXXXe-bXXXX-XXXXXXX" />
    <add key="WebApiAADClientSecret" value="XXXXXXXXXXXXXXXXXXXx" />
    <add key="WebApiAADDomainName" value="samplename.onmicrosoft.com" />

    <!-- Do not change this value -->
    <add key="AADTokenAuthority" value="https://login.microsoftonline.com/{0}/" />

    <!-- Provide the frequency to determine when data updation web job will be triggered -->
    <!-- Acceptable values: Monthly, Daily, Hourly, EveryWorkWeekday-->
    <add key="Frequency" value="Daily" />

    <!--Provide the time elapse value (in minutes) for which each API will wait before timing out -->
    <add key="ApiResponseWaitTimeOutInMinutes" value="10" />

    <!-- Connection string for storage account which will be used for storing backup of data-->
    <!-- Ensure both AccountName and AccountKey is provided-->
    <!-- Example: DefaultEndpointsProtocol=https;AccountName=azureanalyticsstorage;AccountKey=x8SVDqtsLBaAxWxbQI5wK/rr.......WfApfivLYDp+Q==-->
    <add key="StorageConnectionString"
         value="DefaultEndpointsProtocol=https;AccountName=XXXSXXHXXA;AccountKey=XXX56jksndfXXXXXX56XXjnXXXXXXXXXXXXXXXXXXXXXXXXX" />

    <!-- Provide the customer type for which the job should be run. Depending on which value is provided here, other information must be provided in appropriate sections-->
    <!-- Acceptable values: direct, csp, ea-->
    <!-- You can provide a single value e.g. "ea" or comma separated values e.g. "ea,csp". Jobs will be triggered sequentially if comma separated values are provided-->
    <add key="BillingCustomerType" value="csp" />

    <!-- Setting SanityCheck flag to "1" will flush all existing data from database and re-collect all data from APIs again.-->
    <!-- Keeping SanityCheck as "0" will ensure only new data is appended every time job is run. -->
    <add key="SanityCheck" value="0" />
    
    <!-- Keeping ConfigFileCheck flag to "1" will test the connection strings before running web job.-->
    <!-- Setting ConfigFileCheck as "0" will skip the connection string test. -->
    <add key="ConfigFileCheck" value="1" />
    <!--===================================================-->
    <!-- ::::::::::::: CSP Scenario Settings ::::::::::::: -->
    <!--===================================================-->

    <add key="CspBillingPeriodStartDate" value="2015-04" />
    <add key="CspBillingPeriodEndDate" value="2015-05" />

    <!--===================================================-->
    <!-- ::::::::::::: EA Scenario Settings :::::::::::::: -->
    <!--===================================================-->
    <add key="EaBillingPeriodStartDate" value="2015-04" />
    <add key="EaBillingPeriodEndDate" value="2015-05" />

    <!--===================================================-->
    <!-- :::::::::::: Direct Scenario Settings ::::::::::: -->
    <!--===================================================-->
    <!--Values for Direct azure customer with offer code only. If no value is provided, data will be fetched for current month only-->
    <add key="BillingPeriodStartDate" value="2016-01-01" />
    <!--format: YYYY-MM-->
    <add key="BillingPeriodEndDate" value="2016-03-01" />
    <!--format: YYYY-MM-->

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient"
                type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>