<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="PartnerServiceSettings"
             type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="UserAuthentication"
             type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="AppAuthentication"
             type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="ScenarioSettings"
             type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <appSettings>
    <!-- EA Billing-->
    <add key="EA.UrlTemplate" value="https://ea.azure.com/rest/{0}/usage-reports" />
    <add key="EA.BaseUrlTemplate" value="https://ea.azure.com" />
    <add key="EA.EnrolmentNumber" value="10000000" />
    <add key="EA.APIKey" value="xyJt0eXXXXXiOr...............sxXXXXXw" />
    <!-- EA Billing-->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- Settings required for offer based user subscriptions -->

    <add key="ida:Authority" value="https://login.windows.net/{0}/" />
    <add key="ida:Issuer" value="https://sts.windows.net/{0}/" />
    <add key="ida:GraphAPIIdentifier" value="https://graph.windows.net/" />
    <add key="ida:GraphAPIVersion" value="1.5" />
    <add key="ida:AzureResourceManagerIdentifier" value="https://management.core.windows.net/" />
    <add key="ida:AzureResourceManagerUrl" value="https://management.azure.com" />
    <add key="ida:AzureResourceManagerAPIVersion" value="2014-04-01-preview" />
    <add key="ida:ARMAuthorizationPermissionsAPIVersion" value="2014-07-01-preview" />
    <add key="ida:ARMAuthorizationRoleDefinitionsAPIVersion" value="2014-07-01-preview" />
    <add key="ida:ARMAuthorizationRoleAssignmentsAPIVersion" value="2014-10-01-preview" />
    <add key="ida:ARMAuthorizationPermissionsAPIVersion" value="2014-07-01-preview" />
    <add key="ida:RequiredARMRoleOnSubscription" value="Reader" />
    <add key="ida:Currency" value="USD" />
    <add key="ida:Locale" value="en-US" />
    <add key="ida:RegionInfo" value="US" />

    <!-- offer id -->
    <add key="ida:OfferDurableId" value="MS-AZR-0063P" />
    <!-- AAD registered account -->
    <add key="ida:tenantID" value="XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX" />
    <add key="ida:ClientID" value="XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX" />
    <add key="ida:Password" value="XXXXgZs6t............BjXXXXUihXXXXnJV" />

  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*"
           type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.24.0.0" newVersion="2.24.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!-- Groups settings related to remote endpoints needed to access the partner API service -->
  <PartnerServiceSettings>
    <add key="PartnerServiceApiEndpoint" value="https://api.partnercenter.microsoft.com" />
    <add key="AuthenticationAuthorityEndpoint" value="https://login.windows.net" />
    <add key="GraphEndpoint" value="https://graph.windows.net" />
    <add key="CommonDomain" value="common" />
  </PartnerServiceSettings>
  <UserAuthentication>
    <!--The active directory application ID used by the user login, paste your application ID here. -->
    <add key="ApplicationId" value="XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX" />
    <!-- The resource the application is attempting to access i.e. the partner API service. -->
    <add key="ResourceUrl" value="https://api.partnercenter.microsoft.com" />
    <add key="RedirectUrl" value="http://localhost" />
    <!--The active directory user credentials, paste your credentials here. -->
    <add key="UserName" value="XXXXX@yourdomainhere.onmicrosoft.com" />
    <add key="Password" value="yourpassword" />
  </UserAuthentication>
  <AppAuthentication>
    <!-- The active directory application ID used by the application login, paste your application ID here. -->
    <add key="ApplicationId" value="XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX" />
    <!-- The active directory application secret used by the application login, paste your application secret here. -->
    <add key="ApplicationSecret" value="XXXX9XXXXrjPXXXXz..................qcXXXXXXXXzKyXXXX=" />
    <!-- The active directory domain on which the application is hosted. Paste your domain here. -->
    <add key="Domain" value="yourdomainhere.onmicrosoft.com" />
  </AppAuthentication>
  <!-- Holds samples settings -->
  <ScenarioSettings>
    <!-- The domain suffix to use when creating a new customer -->
    <add key="CustomerDomainSuffix" value="onmicrosoft.com" />
    <!-- The ID of the customer to delete from the TIP account, leave empty to prompt user to enter it -->
    <add key="CustomerIdToDelete" value="" />
    <!-- The ID of the customer to use for customer related samples, leave empty to prompt user to enter it -->
    <add key="DefaultCustomerId" value="" />
    <!-- The number of customers to retrieve per page -->
    <add key="CustomerPageSize" value="100" />
    <!-- The number of invoices to retrieve per page -->
    <add key="InvoicePageSize" value="100" />
    <!-- The default Invoice ID of partner, leave empty to prompt user to enter it -->
    <add key="DefaultInvoiceId" value="" />
    <!-- The partner MPN ID to use in indirect partner samples, leave empty to prompt user to enter it -->
    <add key="PartnerMpnId" value="" />
    <!-- The service request ID to use in service request samples, leave empty to prompt user to enter it -->
    <add key="DefaultServiceRequestId" value="" />
    <!-- The number of service requests to retrieve per page -->
    <add key="ServiceRequestPageSize" value="100" />
    <!-- The support topic ID to use in service request samples, leave empty to prompt user to enter it -->
    <add key="DefaultSupportTopicId" value="" />
    <!-- The partner MPN ID to use in indirect partner samples, leave empty to prompt user to enter it -->
    <add key="PartnerMpnId" value="" />
    <!-- The number of offers to return per page -->
    <add key="DefaultOfferPageSize" value="20" />
    <!-- The offer ID to use in offer scenarios, leave empty to prompt user to enter it -->
    <add key="DefaultOfferId" value="" />
    <!-- The order ID to use in order scenarios, leave empty to prompt user to enter it -->
    <add key="DefaultOrderId" value="" />
    <!-- The subscription ID to use in subscription scenarios, leave empty to prompt user to enter it -->
    <add key="DefaultSubscriptionId" value="" />
    <!-- The number of subscriptions to retrieve per page -->
    <add key="SubscriptionPageSize" value="20" />
  </ScenarioSettings>
</configuration>